

.nav_login_registro {
    
    height: 479px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card_registro_login {

    border-radius: 15px;
    width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 70px;
    gap: 15px;
}

.card_registro_login div {
    
}
.card_registro_login p {
    font-size: 15px;
}

.card_registro_login input {
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border: 3px solid rgb(252, 122, 0);
    padding: 5px;
}

.card_registro_login button {
    height: 35px;
    width: 150px;
    border-radius: 15px;
    border: 0px;
    background-color:  rgb(252, 122, 0);
    text-align: center;
    font: bold;
    font-size: 25px;
     font-family: "Faculty Glyphic", sans-serif;
     cursor: pointer;
}


.img_registro_login {
    background-image: url("../assets/atenas_background.jpg");
    background-size: cover;
    height: 479px;
    width: 950px;
    border-left: 5px solid rgb(121, 60, 4);
}

