


* {
        margin: 0;
    padding: 0;
}

body {
   
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;


}

header {
    background-color: rgb(252, 122, 0);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;
   
}


a {
    text-decoration: none;
    color: black;
}
.titulo_header {
          font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  
  
}
.conteiner {
     padding: 5px;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botoes {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.botoes button {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-family: "Faculty Glyphic", sans-serif;
    font: bold;
    cursor: pointer
}

nav {
    background-color: blueviolet;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/fundo_nav.png");
    background-size: cover;
}

nav h1 {
    color: white;
}

@media (max-width: 768px) {
    nav h1{
        font-size: 25px;
    }

    
    .beneficios_cards {
   
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}
}

.beneficios {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.beneficios_cards {
   
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.conteiner1{
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   text-align: justify;
   border: 5px solid rgb(252, 122, 0);
   border-radius: 20px;
   height: 80%;
   
}

.conteiner1 p {
    width: 350px;
}

.conteiner1 img {
    height: 190px;
    width: 200px;
}


.conteiner2{
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   text-align: justify;
   border: 5px solid rgb(252, 122, 0);
   border-radius: 20px;
   height: 80%;
}

.conteiner2 p {
    width: 350px;
}

.conteiner2 img {
    height: 200px;
    width: 200px;
}



.ir_registro {
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;
                background-image: url("../assets/atenas_background.jpg");
                background-size: cover;
        
   
}

.card_registro {
    background-color: rgb(252, 122, 0);
    border: 2px solid rgb(255, 255, 255);
    height: 200px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      gap: 50px;
      padding: 20px;
      border-radius: 25px;
}


.ir_registro  button{
        background-color: rgb(255, 255, 255);

    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-family: "Faculty Glyphic", sans-serif;
    font: bold;
    font-size: 30px;
    color: black;
    cursor: pointer;
   
}



footer {
    background-color: rgb(121, 60, 4);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
}