


* {
        margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;


}

header {
    background-color: rgb(252, 122, 0);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
   
}

.titulo_header {
          font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  
}
.conteiner {
     padding: 5px;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botoes {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.botoes button {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-family: "Faculty Glyphic", sans-serif;
    font: bold;
}